#myBar {
  margin-bottom: 20px;
}
#myBar .nav-pills .nav-item {
  border-radius: 5px;
}
#myBar .nav-pills .nav-item .active {
  background-color: #00000000;
  font-weight: 600;
}
#myBar .nav-pills .nav-item a {
  color: white;
}
#myBar .nav-pills .nav-item:hover {
  background-color: #3B5367;
}
#arrangeProductionPlanTag,
#scheduleDiagramTag {
  width: 100%;
  max-width: 100%;
}
#arrangeProductionPlan {
  display: flex;
}
#arrangeProductionPlan th {
  height: 73px;
}
#arrangeProductionPlan th,
#arrangeProductionPlan td {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
#arrangeProductionPlan #order_list {
  flex: 3;
}
#arrangeProductionPlan #scheduleList {
  flex: 7;
  overflow-x: auto;
}
